{% extends 'attendance/../base.html' %}
{% load static %}
{% block title %}Admin Dashboard{% endblock %}

{% block content %}
<div class="container">
    <h1>Admin Dashboard</h1>
    <p>Welcome, {{ user.username }}! This is the admin dashboard.</p>
    <div class="admin-buttons">
        <a href="{% url 'semester-list' %}" class="btn">Manage Semesters</a>
        <a href="{% url 'course-list' %}" class="btn">Manage Courses</a>
        <a href="{% url 'admin-class-list' %}" class="btn">Manage Classes</a>
        <a href="{% url 'lecturer-list' %}" class="btn">Manage Lecturers</a>
        <a href="{% url 'student-list' %}" class="btn">Manage Students</a>
        <a href="{% url 'upload-students-excel' %}">Upload Student Info</a>
    </div>
    <div class="admin-buttons">
        {% for class in classes %}
            <a href="{% url 'attendance-check' class.id %}" class="btn">Check Attendance for {{ class.course.name }}</a>
        {% endfor %}
    </div>
    <!-- 이메일 경고 전송 -->
    {% for student in students %}
        {% if student.id %}
            <form method="post" action="{% url 'send_attendance_warning' student.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-warning">Send Attendance Warning</button>
            </form>
        {% else %}
            <p>Invalid student ID</p> <!-- student.id가 None인 경우 처리 -->
        {% endif %}
    {% endfor %}
</div>
{% endblock %}
